/* General styles for the card */
.subscription-card {
  background-color: #f9f9f9;
  padding: 20px;
  padding-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.subscription-title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.subscription-divider {
  width: 50%; /* Adjust this value to set the width of the line */
  margin: 0 auto; /* Center the line */
  border: 0;
  border-top: 2px solid black; /* Change the color and thickness of the line */
  margin-bottom: 20px;
}

.subscription-details {
  margin-top: 20px;
}

.status-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 12px;
}

.status-label {
  font-size: 16px;
  font-weight: 500;
  color: #555;
}

.status-value {
  font-size: 16px;
  font-weight: 600;
}

.status-value.active {
  color: green;
}

.status-value.inactive {
  color: red;
}
